# email address to send backup status to
EMAILTO="receiver@address.xyz"
# from address of email
EMAILFROM="sender@address.xyz"
# html-template file for email
HTMLTEMPLATE="/opt/remote-rsync-backup/rsync_mail_template.html"
# statistic directory, should not reside on backup disk
STATDIR="/srv/backup.stats"
# directory to mount backup disk to
BACKUPDIR="/srv/backup"
# device of backup disk, if empty backup will be done to BACKUPDIR without mounting a disk
BACKUPDEV="/dev/sdg"
# filesystem on backup device (zfs/ext4)
FSBACKUPDEV=zfs
# do a filesystem check after n mounts (ext4)
MAXFSCK=5
# minimum space on backup disk to perform backup
HDMINFREE=99
# if 1 then mail will be sent after HDCHANGEDAYS with the same backup disk mounted
HDCHANGEMAIL=1
# days until the mail will be sent
HDCHANGEDAYS=14
# email address to send the reminder to
HDCHANGEMAILTO="receiver@address.xyz"
# check for a newer version of backup-rsync-remote.sh script (curl needed)
SKIPVERSIONCHECK=0
# config file for backup sources
SOURCEFILE=/opt/remote-rsync-backup/backup-source.config
# attach logfile in backup status mail
ATTACHLOG=0
